# ./.tmuxinator.yml

name: changepack
root: ~/

socket_name: changepack

windows:
  - changepack:
      layout: tiled
      panes:
        - rails tailwindcss:watch
        - CYPRESS=1 RAILS_ENV=test bin/rails server -p 5017
