# ./.tmuxinator.yml

name: changepack
root: ~/

socket_name: changepack

windows:
  - changepack:
      layout: tiled
      panes:
        - bundle exec rails tailwindcss:watch
        - CYPRESS=1 RAILS_ENV=test bundle exec rails server -p 5017
        - bundle exec guard
