p Hey there,

- # rubocop:disable Rails/OutputSafety
p: strong = @notification.title.html_safe

p: em = @notification.summary.html_safe

p = @notification.body.html_safe
- # rubocop:enable Rails/OutputSafety

hr

p Sent by #{ENV.fetch('APP_NAME')}
