---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2435160613a1af9d0f29d46d563beae768927eef140c381bd4f7af015b84252a"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - af4a3d93a8013eff6f28
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1649977324'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":481761471,"node_id":"R_kgDOHLcYvw","name":"hello-world","full_name":"changepack-test/hello-world","private":true,"owner":{"login":"changepack-test","id":103696373,"node_id":"U_kgDOBi5H9Q","avatar_url":"https://avatars.githubusercontent.com/u/103696373?v=4","gravatar_id":"","url":"https://api.github.com/users/changepack-test","html_url":"https://github.com/changepack-test","followers_url":"https://api.github.com/users/changepack-test/followers","following_url":"https://api.github.com/users/changepack-test/following{/other_user}","gists_url":"https://api.github.com/users/changepack-test/gists{/gist_id}","starred_url":"https://api.github.com/users/changepack-test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/changepack-test/subscriptions","organizations_url":"https://api.github.com/users/changepack-test/orgs","repos_url":"https://api.github.com/users/changepack-test/repos","events_url":"https://api.github.com/users/changepack-test/events{/privacy}","received_events_url":"https://api.github.com/users/changepack-test/received_events","type":"User","site_admin":false},"html_url":"https://github.com/changepack-test/hello-world","description":null,"fork":false,"url":"https://api.github.com/repos/changepack-test/hello-world","forks_url":"https://api.github.com/repos/changepack-test/hello-world/forks","keys_url":"https://api.github.com/repos/changepack-test/hello-world/keys{/key_id}","collaborators_url":"https://api.github.com/repos/changepack-test/hello-world/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/changepack-test/hello-world/teams","hooks_url":"https://api.github.com/repos/changepack-test/hello-world/hooks","issue_events_url":"https://api.github.com/repos/changepack-test/hello-world/issues/events{/number}","events_url":"https://api.github.com/repos/changepack-test/hello-world/events","assignees_url":"https://api.github.com/repos/changepack-test/hello-world/assignees{/user}","branches_url":"https://api.github.com/repos/changepack-test/hello-world/branches{/branch}","tags_url":"https://api.github.com/repos/changepack-test/hello-world/tags","blobs_url":"https://api.github.com/repos/changepack-test/hello-world/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/changepack-test/hello-world/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/changepack-test/hello-world/git/refs{/sha}","trees_url":"https://api.github.com/repos/changepack-test/hello-world/git/trees{/sha}","statuses_url":"https://api.github.com/repos/changepack-test/hello-world/statuses/{sha}","languages_url":"https://api.github.com/repos/changepack-test/hello-world/languages","stargazers_url":"https://api.github.com/repos/changepack-test/hello-world/stargazers","contributors_url":"https://api.github.com/repos/changepack-test/hello-world/contributors","subscribers_url":"https://api.github.com/repos/changepack-test/hello-world/subscribers","subscription_url":"https://api.github.com/repos/changepack-test/hello-world/subscription","commits_url":"https://api.github.com/repos/changepack-test/hello-world/commits{/sha}","git_commits_url":"https://api.github.com/repos/changepack-test/hello-world/git/commits{/sha}","comments_url":"https://api.github.com/repos/changepack-test/hello-world/comments{/number}","issue_comment_url":"https://api.github.com/repos/changepack-test/hello-world/issues/comments{/number}","contents_url":"https://api.github.com/repos/changepack-test/hello-world/contents/{+path}","compare_url":"https://api.github.com/repos/changepack-test/hello-world/compare/{base}...{head}","merges_url":"https://api.github.com/repos/changepack-test/hello-world/merges","archive_url":"https://api.github.com/repos/changepack-test/hello-world/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/changepack-test/hello-world/downloads","issues_url":"https://api.github.com/repos/changepack-test/hello-world/issues{/number}","pulls_url":"https://api.github.com/repos/changepack-test/hello-world/pulls{/number}","milestones_url":"https://api.github.com/repos/changepack-test/hello-world/milestones{/number}","notifications_url":"https://api.github.com/repos/changepack-test/hello-world/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/changepack-test/hello-world/labels{/name}","releases_url":"https://api.github.com/repos/changepack-test/hello-world/releases{/id}","deployments_url":"https://api.github.com/repos/changepack-test/hello-world/deployments","created_at":"2022-04-14T22:03:09Z","updated_at":"2022-04-14T22:03:09Z","pushed_at":"2022-04-14T22:03:10Z","git_url":"git://github.com/changepack-test/hello-world.git","ssh_url":"git@github.com:changepack-test/hello-world.git","clone_url":"https://github.com/changepack-test/hello-world.git","svn_url":"https://github.com/changepack-test/hello-world","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}}]'
  recorded_at: Thu, 14 Apr 2022 22:03:43 GMT
recorded_with: VCR 6.1.0
