APP_NAME: 'Changepack'
APP_HOST: 'changepack.test'
APP_PORT: '80'
APP_EMAIL: 'support@changepack.test'
APP_SOURCE_CODE: 'https://github.com/changepack/changepack'
GITHUB_KEY: ''
GITHUB_SECRET: ''
LINEAR_KEY: ''
LINEAR_SECRET: ''
AWS_ACCESS_KEY_ID: ''
AWS_SECRET_ACCESS_KEY: ''
AWS_REGION: ''
AWS_BUCKET: ''
ACTIVE_STORAGE_SERVICE: ''
OPENAI_ACCESS_TOKEN: ''
SIDEKIQ_USER: ''
SIDEKIQ_PASSWORD: ''
SENDGRID_API_KEY:
SENTRY_DSN: ''
